<app-toolbar ></app-toolbar>
<div class="container">
    <div data-aos="fade-in-down" data-aos-delay="200" *ngIf="alert.show" class="alert-container">
        <ngb-alert *ngIf="alert.show" [type]="alert.type">{{ alert.message | translate }}</ngb-alert>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ "QUOTATION.FEESREGISTERS.FEESREGISTER" | translate }}
                        </div>
                        <div class="col-6">
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right" type="button" (click)="cancelSave()" *ngIf="showSaveButton">
                                <span *ngIf="loading_cancel" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.CANCEL" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="editFeesRegister()" *ngIf="canEdit && showEditButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.EDIT" | translate }}
                            </button>
                            <button [disabled]="loading || loading_cancel" class="btn company-detail-button float-right mr-1" type="button" (click)="onSubmit(detail_form.value)" *ngIf="showSaveButton">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                {{ "QUOTATION.FEESREGISTERS.SAVE" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="detail_form">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>{{ "QUOTATION.FEESREGISTERS.CLIENT" | translate }}</label>
                                    <select formControlName="ccliente" class="form-control" [ngClass]="{ 'is-invalid' : submitted && detail_form.get('ccliente').errors }">
                                        <option></option>
                                        <option *ngFor="let client of clientList" value="{{ client.id }}">{{ client.value }}</option>
                                    </select>
                                    <div *ngIf="submitted && detail_form.get('ccliente').errors"  class="invalid-feedback">
                                        <div *ngIf="detail_form.get('ccliente').errors.required">{{ "QUOTATION.FEESREGISTERS.REQUIREDCLIENT" | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header company-card-header">
                    <div class="row">
                        <div class="col-6">
                            Lista de Tasas
                        </div>
                        <div class="col-6">
                            <input type="file" name="xdocumento" class="form-control"  accept=" .csv" (change)="onFileSelect($event)" *ngIf="canReadFile" #Ximagen>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <ag-grid-angular #agGrid style="width: 100%; height: 520px;" class="ag-theme-alpine" [rowData]="ratesList" [pagination]="true" [paginationPageSize]="10" [paginationAutoPageSize]="true" rowSelection="single" [enableCellChangeFlash]="true" (gridReady)="onContractsGridReady($event)">
                            <ag-grid-column headerName="Año" field="cano" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Particular 1" field="particular1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Particular 2" field="particular2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Rustico 1" field="rustico1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Rustico 2" field="rustico2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Pick-up 1" field="pickup1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Pick-up 2" field="pickup2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 2 Toneladas 1" field="carga2_1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 2 Toneladas 2" field="carga2_2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 5 Toneladas 2" field="carga5_1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 5 Toneladas 2" field="carga5_2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 8 Toneladas 2" field="carga8_1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 8 Toneladas 2" field="carga8_2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 12 Toneladas 2" field="carga12_1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Carga 12 Toneladas 2" field="carga12_2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Moto 1" field="moto1" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Moto 2" field="moto2" [width]="173" [sortable]="true"></ag-grid-column>
                            <ag-grid-column headerName="Estado" field="iestado" [width]="173" [sortable]="true"></ag-grid-column>
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


