
<main>
  <section id="Servicios-cards" class="Servicios-cards">
    <div class="container"  >
      <div class="row gy-4">
        <div class="angry-grid">
          <div id="titleService" class="col-lg-12 col-md-6" >
            <h3 ></h3>
            <p>Revisión y análisis de siniestralidad para determinar causas frecuentes y tipos de daños entre otros datos, orientados a la toma de decisiones y definición de acciones a tomar.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- 
<main>
  <section id="Servicios-cards" class="Servicios-cards">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <h3>Apoyo estadístico</h3>
          <p>Revisión y análisis de siniestralidad para determinar causas frecuentes y tipos de daños entre otros datos, orientados a la toma de decisiones y definición de acciones a tomar.</p>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <h3>Hoja de vida del vehículo - Expediente electrónico</h3>
          <p>Acceso a la hoja de vida del vehículo con disponibilidad en línea de información y trazabilidad de lo que se le realice al vehículo a través de los Servicios de ArysAuto.</p>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <h3>Vidrios rotos</h3>
          <p>Rotura accidental o maliciosa de vidrios, de parabrisas o panorámico.
            Cobertura a través de nuestra red de proveedores para ubicación, reparación o instalación de panorámico.
            Consumiendo los Servicios incluidos en el plan, se podrá gestionar la logística con nuestros proveedores, sin embargo, el costo será cancelado por el propietario o usuario del vehículo.</p>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <h3>Servicio de grua</h3>
          <p>Asistencia vial: remolque o transporte del vehículo. En caso de que el vehículo beneficiario no pueda circular por falla mecánica o accidente, el servicio se hará hasta el taller o lugar que éste haya elegido.</p>
        </div>
      </div>
    </div>
  </section>
</main> -->