<app-toolbar ></app-toolbar>
<div css="row mt-5 mb-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header company-card-header">
             <form [formGroup]="search_form">
                    <div class="row">
                        <div class="col-6">
                            <p>hola</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
              <div class="container">
                <input type="text" class="form-control" placeholder="Buscar..." (input)="filterData($event.target.value)">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nombre y Apellido</th>
                      <th>Identificación</th>
                      <th>Vehículo</th>
                      <th>Año</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of filteredData">
                      <td>{{ item.xnombres }}</td>
                      <td>{{ item.identificacion }}</td>
                      <td>{{ item.xvehiculo }}</td>
                      <td>{{ item.fano }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
