<app-toolbar ></app-toolbar>

<div class="container"> 
  <div css="row mt-5 mb-5">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header company-card-header">
              <form [formGroup]="search_form">
                      <div class="row">
                          <div class="col-6">
                              <p>Contratos de Servicios Arys</p>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="card-body">
                <div class="container">
                  <div style="display: grid;place-items: center;">
                    <div class="col-sm-12 col-md-4">
                        <input type="text" class="form-control" placeholder="Buscar..." (input)="filterData($event.target.value)">
                    </div>
                  </div>
                  <br>
                  <table class="table table-hover">
                    <thead class="table-borderless">
                      <tr>
                        <th class="border-bottom">Código</th>
                        <th class="border-bottom">Nombre y Apellido</th>
                        <th class="border-bottom">Identificación</th>
                        <th class="border-bottom">Vehículo</th>
                        <th class="border-bottom">Año</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filteredData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
                        <td>{{ item.ccodigo_serv }}</td>
                        <td>{{ item.xnombres }}</td>
                        <td>{{ item.identificacion }}</td>
                        <td>{{ item.xvehiculo }}</td>
                        <td>{{ item.fano }}</td>
                        <td><button class="btn btn-success" (click)="getContractArysFromCertificate(item.ccodigo_serv)" data-name="{{item.xnombres}}">Descargar Certificado</button></td>
                        <td><button class="btn btn-secondary" (click)="editContract(item)">Descargar Recibo</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="display: grid;place-items: center;">
                  <ngb-pagination [collectionSize]="filteredData.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
