<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-6">
      <div class="card card-registration card-registration-2" style="border-radius: 15px;">           
        <div class="card-body p-0">
          <div>
            <form  [formGroup]="DataUser" >
              <div>
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #ffb700">Información del Cliente</h3>  
                  <div class="row">
    
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" >Nombre</label>
                        <input type="text"  class="form-control form-control-lg" formControlName="xnombre"/>
    
                      </div>
                    </div>
    
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" >Apellido</label>
                        <input type="text"  class="form-control form-control-lg" formControlName="xapellido"/>
                      </div>
                    </div>
    
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" >Zona Postal</label>
                        <input type="text"  class="form-control form-control-lg" formControlName="xzona_postal"/>
    
                      </div>
                    </div>
    
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" ></label>
                        <input type="text"  class="form-control form-control-lg" formControlName="icedula"/>
    
                      </div>
                    </div>
                  
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" >Cédula</label>
                        <input type="text"  class="form-control form-control-lg" formControlName="xdocidentidad"/>
    
                      </div>
                    </div>
                    <div class="col-md-4 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label">Correo</label>
                        <input type="text"  class="form-control form-control-lg" formControlName="xemail"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div >
    <div class="col-6">
      <div class="card">
        <h3 class="fw-normal mb-5" style="color: #ffb700">Plan Contratado</h3>  

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="fa fa-check mr-2 text-club"></i>Asistencia Juridica
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Asesoria y asistencia legal</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <i class="fa fa-check mr-2 text-club"></i> Mantenimiento
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Mantenimiento correctivo y preventivo</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="fa fa-check mr-2 text-club"></i> Servicios
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Centrol de atencion 24/7(Call Center)<br>Red de proveedores certificados<br>Acompañamiento<br>Apoyo estadistico<br>Asistencia vial teléfonica en caso de siniestro<br>Búsqueda o ubicación de repuestos<br>Cristaleria y vidrios<br>Expedientes electrónicos<br>Manejo y administración de siniestros<br>Taller de reparación mécanica,latoneria y pintura</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
</div>